*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("images/diagonal-stripes.svg");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 1.5;

   
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

#message-el,#sum-el, #card-el {
    margin: 10px;
    font-size: 20px;
}

 #btn-container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
 
button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    transition: 0.5s ease-out;
}

button:hover {
    cursor: pointer;
    background-color: #e6b800;
    color: #3aa56a;
    transform: scale(1.05, 1.05);
}